// https://github.com/cca/moodle-styles/issues/26
// hide course progress indicator on My Courses page /my/courses.php
.block .block-cards .progress-text {
    display: none;
}

// remove card footer top/bottom padding to reduce parent element's height
// which looks awkward after we hide the progress text
.card-grid .card .card-footer {
    padding: 0 0.8rem 0;
}

// hide Site Home menu link — Dashboard fulfills the same role
// first selector is desktop menu, second is mobile nav drawer
.primary-navigation li[data-key="home"],
.drawer-primary .drawercontent .list-group a[href$="/?redirect=0"] {
    display: none;
}

// Panopto iframes overflow Label boundaries
.no-overflow iframe {
    max-width: 100%;
}

// https://github.com/cca/moodle-styles/issues/9
// fix extra-long criterion column on rubric definition view
.gradingform_rubric .criterion .levels .level {
    max-width: none;
}

// https://github.com/cca/moodle-styles/issues/28
// access restrictions overflow the box they're contained in
.availability-list .availability-eye {
    padding-left: 0 !important;
}
.mform .availability_completion .availability-group {
    width: calc(100% + 1rem)
}

// Long idnumbers overflow bounds on Manage course categories & courses page
// See a "Metacourses" category for example as they have long idnumbers
#page-course-management .course-list .listitem-course .flex-shrink-0 {
    flex-shrink: 1 !important;
}

// make shortname & idnumber inputs as wide as course title under Edit Settings
#id_general #id_idnumber,
#id_general #id_shortname,
// below are for course copy modal dialog
#fitem_id_idnumber #id_idnumber,
#fitem_id_shortname #id_shortname {
    width: 433px;
}
