// https://github.com/cca/moodle-styles/issues/26
// hide course progress indicator on My Courses page /my/courses.php
.block .block-cards {
    .progress-text {
        display: none;
    }

    // make course actions menu always visible
    .dashboard-card-footer.menu {
        opacity: inherit;
    }
}

// remove card footer top/bottom padding to reduce parent element's height
// which looks awkward after we hide the progress text
.dashboard-card-deck .dashboard-card .card-footer.dashboard-card-footer {
    padding: 0 0.8rem 0;
}

// hide Site Home menu link — Dashboard fulfills the same role
// first selector is desktop menu, second is mobile nav drawer
.primary-navigation li[data-key="home"],
.drawer-primary .drawercontent .list-group a[href$="/?redirect=0"] {
    display: none;
}

// Panopto iframes overflow Label boundaries
.no-overflow iframe {
    max-width: 100%;
}

// rubrics, test rubric:
// https://moodle-stg-1.cca.edu/grade/grading/manage.php?contextid=709147&component=mod_assign&area=submissions
// fix extra-long criterion column on rubric definition view, ref #9
.gradingform_rubric .criterion .description {
    max-width: 300px;
}
.gradingform_rubric .criterion .levels .level {
    max-width: none;
}

// #28 access restrictions overflow the box they're contained in
.availability-list .availability-eye {
    padding-left: 0 !important;
}
.mform .form-inline .availability_completion .form-group {
    width: calc(100% + 1rem)
}

// make shortname & idnumber inputs as wide as course title under Edit Settings
#id_general #id_idnumber,
#id_general #id_shortname,
// below are for course copy modal dialog
#fitem_id_idnumber #id_idnumber,
#fitem_id_shortname #id_shortname {
    width: 433px;
}
