.container {
	margin-left: 0;
}

.list-header .cell {
	border-bottom: 1px solid gray;
	font-weight: bold;
	padding-bottom: .2rem;
}

.data-row .cell {
	padding-top: 3px;
}

.totals-table {
	max-width: 28em;
}

.single-view-table {
	max-width: 40rem;
}

/* next 2 rules wrap long notes content
not sure why a long note can squish the
th first column cells but below stops that */
.single-view-table th {
	min-width: 10rem;
}

.single-view-table .note {
	word-break: break-all;
}

/* advanced search */
/* make all inputs longer */
.adv-search .form-inline input[type="text"] {
	min-width: 300px;
}

/* make date checkbox display on same line */
.adv-search .date-input .form-inline {
	min-width: 402px;
}

.adv-search .date-input select:last-of-type {
	margin-right: .5rem;
}

.adv-search .date-input input[type="checkbox"] {
	margin-right: .2rem;
}
